body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #4d4d4d;
}

h1, h2, h3 {
    margin: 0;
    font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
h4{
	font-family: "Roboto Slab", Helvetica, Arial, sans-serif;	
	font-weight: 550;
}
.conteudo{
    /*background-color: #DCDCDC;*/
}
.menu{
	margin-left: 10%;
	margin-right: 10%;
}
.navbar-collapse .navbar-nav{
	float: right;		
}
.list{
    margin-top: 1.1%;
}
.table-responsive{
    margin-top: 30px;
}
.box{
    margin-top: 30px;
}

/*input quantidade*/
.spinner {
  width: 74px;

}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}
.input-group .form-control{
    height: 30px;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 7px;
  margin-left: -1px;
  position: relative;
  border-radius: 0; 
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
.btn-info{
    margin-top: 68px;
}
.carrinho{
    margin-top: 25px;
}